.deleteAcc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: calc(100vh - 100px);
    width: 70%;
    margin: 100px auto 0;
}
.deleteAcc form{
    width: 100%;
}