@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root{
    --primary-color: #231676;
    --secondary-color: #731676;
}
*{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
    width: 100%;

    background-color: #fff;
}
header .sign-out-btn{
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    z-index: 1010;

    color: var(--secondary-color);
    font-family: Roboto;
    font-size: 18px;

    background: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
}
header .sign-out-btn::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    height: 1px;
    width: 100%;

    background-color: var(--secondary-color);
    transition: .5s;
}
header .sign-out-btn:hover::before{
    left: 0;
}
header a{
    position: relative;
    margin: 0 20px;

    color: var(--primary-color);
    font-family: Roboto;
    font-size: 18px;
    text-decoration: none;

    background: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
}
header a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    height: 1px;
    width: 100%;

    background-color: var(--primary-color);
    transition: .5s;
}
header a:hover::before{
    left: 0;
}
.header-menu{
    display: none;
}
.sidebar{
    display: none;
}
@media only screen and (max-width: 800px){
    header a{
        display: none;
    }
    .sign-out-btn{
        display: none;
    }
    .header-menu{
        display: block;

        height: 25px;
        width: 25px;
        margin: 0 auto 0 30px;

        mask: url("../img/menu.svg");
        mask-size: 90%;
        mask-position: center;
        mask-repeat: no-repeat;

        background-color: #000;
        cursor: pointer;
    }
    .sidebar{
        position: fixed;
        top: 100px;
        left: 0;
        z-index: 1001;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        height: calc(100vh - 100px);

        font-family: Roboto, sans-serif;
        background-color: #fff;
    }
    .sidebar a{
        width: 100%;
        min-width: 30vw;
        padding: 5px 0;

        color: #000;
        font-size: 18px;
        text-align: center;
        text-decoration: none;

        border-bottom: 1px solid #000;
        transition: .5s;
    }
    .sidebar a:hover{
        background-color: var(--primary-color);
        color: #fff;
    }
}

.basic-loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 32px;
}

.basic-form{
    position: relative;
    display: flex;
    flex-direction: column;
}
.basic-form-close{
    position: absolute;
    top: 20px;
    right: 20px;

    height: 20px;
    width: 20px;

    mask: url("../img/cancel.svg");
    mask-size: 90%;
    mask-position: center;
    mask-repeat: no-repeat;

    background-color: #b22b2b;
    border: none;
    cursor: pointer;
    transition: .5s;
}
.basic-form-close:hover{
    transform: scale(1.1);
}
.basic-form h3{
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    text-align: center;
    font-weight: normal;
}
.basic-form label{
    margin: 10px 0 5px 0;
    color: #222;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}
.basic-form input, .basic-form textarea, .basic-form select{
    padding: 5px 10px;

    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 16px;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid #333;
}
.basic-form textarea{
    resize: none;
}
.checkbox-div label{
    margin-left: 10px !important;
}
.basic-form button[type='submit']{
    position: relative;
    margin-top: 20px;
    padding: 10px 20px;

    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 18px;

    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: .5s;
}
.basic-form button[type='submit']:hover{
    box-shadow: 0 0 10px var(--primary-color);
}
.basic-form-error{
    margin-top: 10px;
    
    color: #b22b2b;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    text-align: center;
}